body,
html {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: PT Sans, sans-serif; }

.block {
  display: block;
  float: left;
  height: 200px; }

.header p {
  margin-top: 5px; }

.half {
  width: 48%;
  margin-right: 2%; }

.fourth {
  width: 23%;
  margin-right: 2%; }

.content {
  margin: 50 5%; }

.lesson-width {
  width: 80%;
  max-width: 600px;
  margin: 0 auto;
  border-top: 1px solid #161516;
  clear: both; }

ul {
  padding-left: 0;
  margin-top: 10px; }
  ul li {
    list-style-type: none; }

.reading-list {
  padding-left: 50px; }
  .reading-list li {
    list-style-type: circle; }

.reading-title {
  font-style: italic; }

.prev {
  margin-right: 20%; }

.buttons {
  width: 100%;
  float: left;
  margin-top: -100px; }

.button {
  margin-top: 50px; }
  .button a {
    padding: 10px;
    border: 1px solid #161516;
    float: left; }
    .button a:hover {
      border: 1px solid #ff2e2e;
      color: #ff2e2e; }
  .button.prev {
    float: left; }
  .button.next {
    float: right; }

a {
  color: #161516;
  text-decoration: none; }
  a:hover {
    color: #ff2e2e; }

.nav-links a,
ul.reading-list a,
p a {
  font-style: italic; }

.mini {
  font-size: 0.7em;
  display: block;
  margin-top: 5px; }

h1 {
  margin: 0; }

h2 {
  margin: 5 0;
  position: relative;
  margin-bottom: 0.25em; }

h3 {
  margin-bottom: 0.25em; }

p {
  margin-top: 0; }

.subtitle {
  font-size: 0.9em; }

iframe {
  margin-bottom: 1em; }

figure {
  width: 100%;
  height: auto;
  margin: 0;
  margin-bottom: 1em; }

figure img {
  width: 120%;
  height: auto;
  margin-left: -10%;
  margin-right: -10%; }

figcaption {
  font-size: 0.8em;
  color: #6d6d6d;
  font-style: italic; }

.blockquote {
  margin: 2em; }

.quote {
  font-size: 1.2em;
  font-style: italics; }

.attribution {
  font-size: 0.9em;
  display: block; }

.lessons {
  margin: 0 auto;
  padding-left: 0;
  list-style-decoration: none; }

.lesson {
  box-sizing: border-box;
  border-top: 1px solid #161516;
  width: 24%;
  margin-right: 1%;
  height: 200px;
  display: block;
  float: left; }

.unreleased {
  color: #6d6d6d;
  border-top: 1px solid #6d6d6d; }

@media (max-width: 800px) {
  .lesson {
    box-sizing: border-box;
    width: 48%; } }
@media (max-width: 600px) {
  .lesson {
    width: 98%; }

  .half {
    width: 98%; }

  .fourth {
    width: 48%; } }
