<div class="buttons">
	<span class="button prev" ng-if="prevLesson">
		<a href="#/lessons/{{ prevLesson }}">
		Previous
		</a>
	</span>

	<span class="button next" ng-if="nextLesson">

	</span>
</div>

	<div class="lesson-width">
		<span class="mini">{{date}}</span>
		<h2>{{title}}</h2>

		<div class="slides">
			<a href="../slides/1-letterforms.pdf" target="_blank">View slides</a>
		</div>

		<p>
			To start learning about typography, we must start with where it all begins—the single letterform. After all, a word is but a sum of all its letters. By studying how letterforms are designed and how they interact with each other, we are able to understand the care and detail that goes into creating meaningful visual communication.
		</p>

		<div class="blockquote">
			<span class="quote">
				Typography is the craft of endowing human language with a durable visual form, and thus with an independent existence.
			</span>
			<span class="attribution">
				Robert Bringhurst, <span class="smallcaps">The Elements of Typographic Style</span>
			</span>
		</div>

		<h3>Activity</h3>
		<p>Today in class we're going to be creating letterforms from scratch with everyone's favorite thing... food! Hopefully you brought some snacks to share.</p>

		<p>Have fun experimenting with creating interesting, evocative, and legible letterforms while snacking and getting to know your new classmates! Take some pictures to document your delicious letters!</p>


		<h3>Homework</h3>
		<p>For homework, your task is to create a piece of handmade typography. Choose a word, think about what it represents and how you can create it using ordinary objects. Or go backwards, and choose your medium first, then figure out your word! Either way, be creative and have fun! Sky is the limit, but absolutely no hand-drawn or vectorized type.</p>

		<p>Document your handmade typography project and upload it Behance. Remember to add this decal's <span class="smallcaps"><a href="https://www.behance.net/typedecal" target="_blank">Behance</a></span> as a contributor.</p>

		<p>Think up two questions you have about your work in order to get some feedback from your peers in our first homework critique session.</p>


		<h3>Midterm Project</h3>
		<p>Your midterm project will be to design a book, with a minimum of eight pages. This project is due March 17, which gives you six weeks. For this first week, try to come up with a concept of what your book will be about. You are welcome to write your own copy, or to use material that is free to use (check the copyright).</p>

		<p>For some inspiration, check out:</p>
		<ul class="reading-list">
			<li><a href="http://issuu.com/elaiyuarai/docs/arthistoryisactuallyhilarious" target="_blank">Art History is Actually Hilarious</a> by Laura Javier
			</li>
			<li>
				<a href="http://www.michellefong.net/#/the-vanishing-bee-book-design/" target="_blank">The Vanishing Bee</a> by Michelle Fong
			</li>
		</ul>

		<h3>Reading</h3>
		<p>Start reading up on letterforms and also how to give and receive good critical feedback. We'll be conducting weekly critiques in this class to help you practice give critique, develop your taste, and grow as a designer. These links will get you started:</p>

		<ul class="reading-list">
			<li>
				<a href="http://www.thinkingwithtype.com/contents/letter/" target="_blank">Letter</a> by Ellen Lupton
			</li>
			<li>
				<a href="http://www.designcrit.com/writing/critiqueiness/" target="_blank">Critiqueiness</a> by Mitch Goldstein
			</li>
			<li>
				<a href="http://www.kickerstudio.com/2010/11/everything-ive-ever-learned-about-giving-design-critiques-i-learned-from-tim-gunn/" target="_blank">Everything I've Ever Learned About Giving Design Critiques I Learned From Tim Gunn</a> by Dan Saffer
			</li>
			<li>
				<a href="http://venturebeat.com/2014/08/10/the-key-to-happy-productive-designers-teaching-your-team-to-critique/" target="_blank">The Key to Happy Productive Designers: Teaching Your Team to Critique</a> by Braden Kowitz
			</li>
		</ul>

	</div>
