<div class="buttons">
	<span class="button prev" ng-if="prevLesson">
		<a href="#/lessons/{{ prevLesson }}">
		Previous
		</a>
	</span>
	<span class="button next" ng-if="nextLesson">
		<a href="#/lessons/{{ nextLesson }}">
		Next
		</a>
	</span>
</div>

	<div class="lesson-width">
		<span class="mini">{{date}}</span>
		<h2>{{title}}</h2>


	<div class="slides">
		<a href="../slides/5-systems.pdf" target="_blank">View Slides</a>
	</div>

	<h3>Designing books is no laughing matter</h3>
	<p>Chip Kidd, a reknown designer, gives a great talk on how he approaches book design. I highly recommend you watch this! It's quite wonderful.</p>

	<iframe src="https://embed-ssl.ted.com/talks/chip_kidd_designing_books_is_no_laughing_matter_ok_it_is.html" width="560" height="315" frameborder="0" scrolling="no" webkitAllowFullScreen mozallowfullscreen allowFullScreen></iframe>


	<h3>Typographic Hierarchy</h3>
	<p>A typographic hierarchy is a system for organizing type in a manner that helps the reader easily navigate content. Hierarchies are designed to feature content, to make it easy to find information, and to isolate There are several ways to establish a visual typographic hierarchy, including</p>
	<ul class="reading-list">
		<li>Size</li>
		<li>Weight</li>
		<li>Color</li>
		<li>Position</li>
		<li>Type Contrast</li>
	</ul>

	<h3>Typographic Systems</h3>
	<p>There are more ways to organize type than just through establishing hierarchy. Although grid is undoubtedly one of the most popular systems, there are several other ways to organize text. Understanding different typographic systems allows you to play with systemic thinking. Structure is just as choosing typefaces in terms of communicating a message</p>

	<figure>
		<a href="images/typeSystems.png" target="_blank"><img src="images/typeSystems.png" /></a>
	</figure>

	<p></p>

	<h3>Activity</h3>
	<p>Create a modular grid and use it to arrange text in as many ways as you can. Refer to the assignment developed <a href="http://www.thinkingwithtype.com/contents/grid/#Project:_Modular_Grid" target="_blank">here</a></p>

	<h3>Homework</h3>
	<p>Iterate on your book, and add another page or two.</p>

	<h3>Reading</h3>

	<ul class="reading-list">
		<li><a href="http://webdesign.tutsplus.com/articles/understanding-typographic-hierarchy--webdesign-11636" target="_blank">Understanding Typographic Hierarchy</a></li>
		<li><a href="http://www.amazon.com/Typographic-Systems-Design-Kimberly-Elam/dp/1568986874" target="_blank">Typographic Systems</a> by Kimberly Elam
		</li>
		<li><a href="http://www.thinkingwithtype.com/contents/grid/" target="blank">Thinking with Type: Grid</a> by Ellen Lupton</li>
	</ul>


	</div>
