<div class="buttons">
	<span class="button prev" ng-if="prevLesson">
		<a href="#/lessons/{{ prevLesson }}">
		Previous
		</a>
	</span>

	<span class="button next" ng-if="nextLesson">
		<a href="#/lessons/{{ nextLesson }}">
		Next
		</a>
	</span>
</div>

	<div class="lesson-width">
		<span class="mini">{{date}}</span>
		<h2>{{title}}</h2>


	<div class="slides">
		<a href="./slides/7-identitydesign.pdf" target="_blank">View Slides</a>
	</div>
	<h3>History of branding</h3>
	<p>Branding originated as a way for manufacturers to distinguish their wares from competitors. In its eary days, branding consisted of symbols which indicated quality goods, allowing consumers to identify high-quality materials and goods.</p>

	<p>Before the industrial revolution, people purchased goods from local stores in which they had intimate relationships with local shopkeepers. Shopkeepers were responsible for purchasing goods that were needed by local residents. As a result, people put a great deal of trust in their local shopkeepers. As the industrial revolution led to the rise of mass-production goods, local shops were replaced by brandnames. Many of these early labels, such as Quaker Oats and Aunt Jemima's, adopted a human face as their brand to emulate the personal human relationship consumers previously had with local store owners.</p>

	<p>Branding soon moved into the modern era, where Mad Men marketing became heavily influential in consumers' decisions about which goods to purchase. Branding became more than just a friendly way to associate ownership of a product; it became a tactic to sell and market to a wider population. As a result, consumer goods became lifestyle brands, which marketed themselves not as simple product companies, but companies selling an ideal. Coca Cola notably has marketed itself as not just selling soda pop, but the American Dream, a lofty ideal rich with emotional associations.</p>

	<h3>Identity Design</h3>
	<p>Identity design extends beyond just logos. It is the creation of a cohesive visual identity system that works across media. Identity systems are responsible for communicating a brand across product, advertising, packaging, apparel, web, mobile, and more. You are not just designing a logo. You are designing a multifaceted visual system, responsible for effectively communicating a product's innate set of principles to an audience. It should be clear, memorable, meaningful, and (ideally) timeless.</p>

	<p>Designing a logo is a good place to start developing your brand identity. Do research on what your brand is supposed to encompass. Make an inspiration board. Surround yourself with imagery that inspires you about the message you're trying to communicate.</p>

	<p>Use a pencil and start sketching different logo ideas that come to mind. This is your brainstorming stage. Don't limit yourself. After you've sketched at least fifty ideas on paper, look through them to find which ones work. Take those and begin to vectorize them. on the computer. See Aaron Draplin's logo design process below for some inspiration.</p>

	<iframe src="https://player.vimeo.com/video/113751583" width="560" height="315" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>


	<p>Get inspired by looking at identity systems from professional and student designers. The examples included in the slides from class are adapted from the links below:</p>
	<ul class="reading-list">
		
		<li><a href="http://www.wearedesignstudio.com/works/airbnb-brand/" target="_blank">Airbnb</a> by Design Studio
		</li>
		<li><a href="http://www.wearecollins.com/work/spotify/" target="_blank">Spotify</a> by Collins</li>
		<li><a href="http://www.sagmeisterwalsh.com/work/project/fugue-identity/" target="_blank">Fugue</a> by Sagmeister &amp; Walsh</li>
		<li><a href="http://www.fastcodesign.com/1663378/mit-media-labs-brilliant-new-logo-has-40000-permutations-video" target="_blank">MIT Media Lab</a> by E Roon Kang and Richard The
		</li>
		<li><a href="http://new.pentagram.com/2014/10/new-work-mit-media-lab/" target="_blank">MIT Media Lab</a> by Michael Beirut at Pentagram
		</li>
		<li><a href="http://www.sahanakumar.com" target="_blank">Naturmuseum</a> by Sahana Kumar
		</li>
		<li><a href="http://www.paulhoppedesign.com/exploratorium" target="_blank">Exploratorium</a> by Paul Hoppe
		</li>
		<li><a href="http://www.siyunoh.com/#/phasemuseum/ " target="_blank">phase</a> by Siyun Oh
		</li>
		<li><a href="http://www.michellefong.net/blog/2014/10/14/transmedia-work-in-progress-pt-i" target="blank">Natural Sciences Museum (Work in Progress)</a> by Michelle Fong</li>
	</ul>

	<h3>Homework</h3>

		<div class="blockquote">
			<span class="quote">
				What will design and type look like in the future? How will technology change the way typography is used?
			</span>
			<span class="attribution">
				adapted from Art Center,<a href="http://www.michellefong.net/blog/2014/10/14/transmedia-work-in-progress-pt-i">credits to Michelle Fong</a>
			</span>
		</div>

	<p>Come up with an idea and name for a museum and design a visual identity system for it. Your deliverables for March 31 are as follows:</p>

	<ul class="reading-list">
		<li>Logo design + typeface selection</li>
		<li>Brand color palette</li>
		<li>Business card</li>
		<li>Something for the gift shop (bag, apparel, etc.)</li>
	</ul>

	<p>Upload your project to Behance, and be sure to include your inspiration board and some of your pencil sketches so we can see your ideation process.</p>


	<h3>Readings</h3>
		<ul class="reading-list">
		<li><a href="http://www.webdesignerdepot.com/2015/03/is-it-time-to-embrace-responsive-branding/" target="_blank">Is it time to embrace responsive branding?</a></li>
		<li><a href="http://responsivelogos.co.uk/" target="_blank">Responsive logo examples</a></li>
	</ul>


	</div>
