<div class="buttons">
	<span class="button prev" ng-if="prevLesson">
		<a href="#/lessons/{{ prevLesson }}">
		Previous
		</a>
	</span>
	<span class="button next" ng-if="nextLesson">
		<a href="#/lessons/{{ nextLesson }}">
		Next
		</a>
	</span>
</div>

	<div class="lesson-width">
		<span class="mini">{{date}}</span>
		<h2>{{title}}</h2>

	<div class="slides">
		<a href="./slides/3-digitallettering.pdf" target="_blank">View Slides</a>
	</div>
    <p>
      Digital lettering often starts out with hand-drawn sketches similar to handlettering. However, digital lettering takes those sketches and uses them as a basis for a vectorized final product. The sketch itself may differ from the final piece of work.
    </p>

    <p> Digital lettering is often mistaken for fonts or typefaces. Instead of being reusable and modular though, the letterforms are unique to the context they were created for. Other parts of the alphabet simply do not exist. As a result, digital lettering is similar to the art of illustration in that letterers often create very intricate, illustrative letterforms that interact with each other in ways that are impossible with fonts.</p>

    <p>Digital lettering is a flexible subset of lettering, since its vectorized form enables it to be used for many different purposes. It can be used for branding, posters, illustration, advertisements, magazine or book covers, product packaging, or even printed out in metal and drizzled in chocolate. Digital letterforms are easily transferable, allow for easy tracing of iterations, and allow great detail. It's a handy skill that becomes easier with practice</p>


	<h3>Type Design</h3>
	<p>Some terminology clarification: a typeface is a font-family. It is a collection of fonts. For example, Helvetica is a typeface. Helvetica is also a font-family comprised of many different weights (Light, Regular, Bold, etc). A font is a digital file that contains letterforms, whereas a typeface is the look of the letters themselves.</p>

	<p>Digital lettering is different than type design though. Whereas lettering is created for a specific context, typefaces are designed to work anywhere in any combination. Entire alphabets (including special symbols) are tweaked to perfection. Type designers not only design the letterforms themselves, but also consider letters in combination through ligatures, kerning, spacing, and more. It is a much more intensive process versus the one-off projects that digital lettering brings about.</p>

	<p>Type designers work in font editors, such as <a href="http://www.glyphsapp.com/" target="_blank">Glyphs</a> or <a href="http://doc.robofont.com/" target="_blank">Robofont</a>. They are pretty pricy for students just dabbling in type design, but there are 30 day trial options if you want to try it out. If you're serious about doing more type design, the investment in a good font editor is worth it. Programs like Robofont give you infinitely more control and accuracy than basic vector illustration programs like Illustrator do. The extra specificity is sorely needed in designing type.</p>


	<h3>Legibility</h3>
	<p>Chances are if you're working with type, you are expecting someone to read it. So you should consider how legibile the end-product actually is. Some typefaces are more legible than others. Here are some simple standards that can help you determine how legible your type is:</p>
	<ul class="reading-list">
		<li>Large x-height</li>
		<li>Large counters</li>
		<li>Simple letterforms</li>
		<li>Less form ambiguity (example:between g and 9)</li>
	</ul>

	<h3>Lettering with Illustrator</h3>

	<div class="slides">
		<a href="https://www.dropbox.com/sh/j7cft9hto47qm4d/AACNqYrbRB8hca0oaLCGczSva?dl=0" target="_blank">Learn pen tool</a>
	</div>

    <p>We'll be creating digital letterforms by adjusting bezier curves in vector illustration programs like Adobe Illustrator of Sketch. <a href="http://shape.method.ac/" target="_blank">Shape Type</a> is a game which will help you start to learn how much detail and precision goes into crafting the letterforms you see in your daily life.
    </p>

    <p>
      Start by scanning or taking a photo of your sketch. I personally use a smartphone camera scanning app, CamScanner, to take high-contrast scans. Open a new file in Illustrator, go to File -> Place... and select your scanned sketch. Name the layer "sketch," adjust the transparency to 10%, and lock it in place.
    </p>

    <p>
    	Create a new layer on top of your "sketch" layer. Name this one "skeleton." Here you can start pen-tooling the bare bones of your letters. Use as few points as possible, and start by placing anchors at only the North and South points of each letter. Whenever you click+drag your mouse to add new pen tool anchors, hold Shift to snap your handles to perfectly horizontal or vertical lines. This will give you cleaner curves. Adjust handles as you go to make the curves fit the lines. 
    </p>




		<h3>Activity</h3>
		<p>Play <a href="http://shape.method.ac/" target="_blank">Shape Type</a> to get in the hang of forming nice bezier curves.</p>

		<p>Another way to get started is to type out some versions of various fonts, make them 10% transparent, and then to pen tool around those to practice. It'll help you realize all the tiny decisions type designers make.</p>


		<h3>Homework</h3>
		<p>For this week's homework there are two options:</p>
		<p>Option 1: Take your handlettered sketch from last week and vectorize it using the pen tool. We will not be using Image Trace for this assignment since the goal is to build familiarity with the detail and precision that goes into vectorizing type by hand.</p>

		<p>Option 2: Design a dropcap for the cover of your favorite book. It can be the first initial of the title or the author's last initial, or even the first letter of the protagonist's name. Think deeply about the meaning of the book and how you can convey that through only a single letter. This is harder than it sounds. You don't get the clarity of full words or paragraphs to convey meaning. Here, you are expressing a concept with purely one letter, so do try to put in a decent amount of effort in brainstorming different ideas. Explore different lettering styles, and feel free to make your dropcap highly illustrative.</p>

		<p>Get inspired by <a href="http://www.penguin.com/static/pages/classics/penguindropcaps.php" target="_blank">Jessica Hische's Penguin Dropcap series</a>.</p>

		<p>Post your project on Behance. Be sure to include shots of your process, including your initial sketches and any iterations you did before you arrived at your final design. Also, please email Shana your Illustrator (.ai) file so I can take a look at your anchors, handles, and lines to give you some feedback!</p>

		<h3>Reading</h3>
		<p></p>

		<ul class="reading-list">
			<li><a href="http://www.aiga.org/typography-and-the-aging-eye/" target="_blank">Typography and the Aging Eye</a>
			</li>
			<li><a href="http://learn.scannerlicker.net/2014/11/14/on-legibility-in-typography-and-type-design/" target="blank">On Legibility in Typography and Type Design</a></li>
			<li><a href="https://typesupply.com/news/2013/9/the-development-of-balto" target="_blank">The Development of Balto</a></li>
			<li><a href="http://theagsc.com/community/tutorials/so-whats-the-big-deal-with-horizontal-vertical-bezier-handles-anyway" target="_blank">So What's the Big Deal with Horizontal Vertical Bezier Handles Anyway</a>
			</li>
			
		</ul>


	</div>
