<div class="buttons">
	<span class="button prev" ng-if="prevLesson">
		<a href="#/lessons/{{ prevLesson }}">
		Previous
		</a>
	</span>
	
	<span class="button next" ng-if="nextLesson">
		<a href="#/lessons/{{ nextLesson }}">
		Next
		</a>
	</span>

</div>

	<div class="lesson-width">
		<span class="mini">{{date}}</span>
		<h2>{{title}}</h2>


	<div class="slides">
		<a href="./slides/6-editorialdesign.pdf" target="_blank">View Slides</a>
	</div>

	<h3>Editorial Design</h3>
	<p>See the slides for some general tips about editorial design. Class today is in-class worktime and critique for your book project, which is due next week.</p>

	<h3>Homework</h3>
	<p>Finish your book. Minimum of 4 pages. We're wrapping up this project to start something new. You're encouraged to continue working on your book until the end of the semester if you didn't end up adding all the content you wanted. I am in the process of securing a grant for this DeCal, which means your books can be printed!</p>



	</div>
