<div class="buttons">
  <span class="button prev" ng-if="prevLesson">
    <a href="#/lessons/{{ prevLesson }}">
    Previous
    </a>
  </span>

  <span class="button next" ng-if="nextLesson">

  </span>
</div>



  <div class="lesson-width">
    <span class="mini">{{date}}</span>
    <h2>{{title}}</h2>

    <div class="slides">
      <a href="./slides/2-handlettering.pdf" target="_blank">View slides</a>
    </div>

    <p>
      This week we'll be focusing on drawing letters by hand. This is a really accessible form of lettering since you can just use pencil and paper! You can also, however, purchase some tools to help you form different types of letters:
    </p>

    <p>
    <ul class="reading-list">
      <li>
        <a href="/" target="_blank">On Legibility in Typography and Type Design</a>
      </li>
    </ul>

    <p>
      Handlettering is simply the drawing of letters by hand. Often executed with brush pens or other writing utensils, it bears some similarity to calligraphy. However, the difference is that calligraphy creates letters in one stroke. Handlettering allows for the building up and refining of letters through drawing them little by little. See the slides for different examples of calligraphy and handlettering.
    </p>


    <h3>Activity</h3>
    <p>Draw a word from the bag and handletter different iterations on communicating its meaning. Pair up and discuss your ideas with a partner.</p>


    <h3>Homework</h3>
    <p>Handletter anything you want. I would recommend a phrase, in order to practice how letters and words interact with each other. Either complete a handlettered design, or (if you prefer digital lettering) just do a polished sketch that you can scan and use to practice digital lettering on next week.</p>

    <p>Continue thinking of your book. By now, you should have decided on a topic, and should be exploring potential styles you can incorporate into your composition. Do you want to use handmade type? Handlettering? What color scheme might your book be?</p>

    <p>Document your homework (including sketches and process) on Behance.</p>

    <h3>Reading</h3>
    <p>Typography is more than just looks. It's about legibility. Get educated about what makes a useable typeface with these readings below.</p>

    <ul class="reading-list">
      <li>
        <a href="http://www.amazon.com/Scripts-Elegant-Lettering-Designs-Golden/dp/0500290393" target="_blank">Scripts: Elegant Lettering from Design's Golden Age</a> by Steven Heller
      </li>
      <li>
        <a href="http://theindustry.cc/author/ryan/" target="_blank">Lettering Tips on The Industry</a> by Ryan Hamrick
      </li>
    </ul>


  </div>
