<ul class="lessons">
	<span ng-repeat="lesson in released">
		<li class="lesson" id="lessons{{$index + 1}}">
			<a href="#/lessons/{{$index + 1}}">
				<span class="mini">{{lesson.date}}</span>
				<h2>{{lesson.title}}</h2>
				<span class="subtitle">{{lesson.subtitle}}</span>
			</a>
		</li>
	</span>

	<span ng-repeat="lesson in lessons">
		<li class="lesson unreleased" id="lessons{{$index + 1}}">
			<span class="mini">{{lesson.date}}</span>
			<h2>{{lesson.title}}</h2>
			<span class="subtitle">{{lesson.subtitle}}</span>
		</li>
	</span>
</ul>